<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="穷在闹市" />
		<!-- 作者 -->
		<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>穷在闹市出品</title>

		<!-- 公共样式 开始 -->
		<style type="text/css">
		
		#movieImage{
			position:absolute;
			width:200px;
			height:200px;
			right:20px;
			top:40px;
			z-index:100;
		}
		
		#typeList{
			width: 300px;
		}
		</style>
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css">
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/jquery-form.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<!-- 仅供所有子页面使用
		公共样式 结束 -->
		<link rel="stylesheet" type="text/css" href="css/zxf_page.css"/>
		<!-- easyui -->
		<link rel="stylesheet" type="text/css" href="js/easyui/themes/default/easyui.css">
		<link rel="stylesheet" type="text/css" href="js/easyui/themes/icon.css">
		<script type="text/javascript" src="js/easyui/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="js/easyui/locale/easyui-lang-zh_CN.js"></script>
		<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
		<script type="text/javascript">
			function search(){
				var name = $("#aname").val();
				var flag = $("#flag").val();
				$.post("getAllActorByPage",{
					name:name,
					flag:flag
				},function(data){
					$("#tbody").empty();
					$.each(data,function(k,v){
						$("#tbody").append(
								 '	<tr>' +
								 '		<td>'+v.aname+'</td>' +
								 '		<td>'+v.sex+'</td>' +
								 '		<td>'+v.birthday+'</td>' +
								 '		<td>'+v.country+'</td>' +
								 '		<td>'+v.nation+'</td>' +
								 '		<td>'+v.position+'</td>' +
								 '		<td>' +
								 '			<button class="layui-btn" onclick="details('+v.actorId+')">详细信息</button>\n' +
								 '		</td>' +
								 '	</tr>'
						)
						
					}); 
				});
			}
			
			function cleanForm(){
				$("#img-change").attr("src","");
				$("#birthplace").val("");
				$("#file").val("");
				$("#atname").val("");
				$("#sex").val("");
				$("#tflag").val();
				$("#secondName").val("");
				$("#birth").val("");
				$("#country").val("");
				$("#nation").val("");
				$("#height").val("");
				$("#constellation").val("");
				$("#actorId").val("");
				CKEDITOR.instances.description.setData("");
			}
			
			function details(id){
				cleanForm();
				$.get("getActorDetail",{
					aid:id
				},function(data){
					$("#img-change").attr("src","movieImg/cover/"+data.pix);
					$("#atname").val(data.aname);
					$('#sex').combobox('select',data.sex);
					$("#secondName").val(data.secondName);
					$("#birth").val(data.birthday);
					$("#country").val(data.country);
					$("#nation").val(data.nation);
					$("#height").val(data.height);
					$("#birthplace").val(data.birthplace);
					$("#birth").datebox("setValue",data.birthday);
					$("#constellation").val(data.constellation);
					$('#tflag').combobox('select',data.position);
					$("#actorId").val(data.actorId);
					CKEDITOR.instances.description.setData(data.description);
					$('#win').window('open');
				} 
				)
			}
			
			function addImage(){
				$("#ImgUpload").ajaxSubmit(function(message) {  
			  
			    }); 
				
				return false;
			}
			
			function alterActor(){
				var date = new Date($("#birth").val());
				$.post("alterActor",{
					actorId:$("#actorId").val(),
					aname:$("#atname").val(),
					sex:$("#sex").val(),
					position:$("#tflag").val(),
					secondName:$("#secondName").val(),
					birthday:date,
					birthplace:$("#birthplace").val(),
					country:$("#country").val(),
					nation:$("#nation").val(),
					height:$("#height").val(),
					constellation:$("#constellation").val(),
					description:CKEDITOR.instances.description.getData()
				},function(data){
					if($("#file").val() != null && $("#file").val() != ""){
						addImage();
					}
					alert(data.message);
					$('#win').window('close');
				});
			}
			
		</script>
	</head>
	<body>
	<div id="win" class="easyui-window" title="影片详情" closed="true" style="width:550px;height:650px;padding:5px;">
		<input hidden="hidden" id="actorId">
		姓名:<input class="easyui-text" type="text" id="atname"><br>
		性别:
		<select id="sex" class="easyui-combobox"style="width:200px;">
		    <option value="男">男</option>
		    <option value="女">女</option>
		</select>
		<br>
		艺名:<input class="easyui-text" type="text" id="secondName"><br>
		生日:<input class="easyui-datebox" type="text" id="birth"><br>
		国籍:<input class="easyui-text" type="text" id="country"><br>
		籍贯:<input class="easyui-text" type="text" id="birthplace"><br>
		民族:<input class="easyui-text" type="text" id="nation"><br>
		身高:<input class="easyui-text" type="text" id="height"><br>
		星座:<input class="easyui-text" type="text" id="constellation"><br>
		类型:
		<select id="tflag" class="easyui-combobox"style="width:200px;">
		    <option value="actor">演员</option>
		    <option value="director">导演</option>
		</select>
			<br>
		个人简介:<textarea rows="5" cols="20" id="description" name="description"></textarea>
		<script>
             CKEDITOR.replace( 'description' );
        </script>
		<div id="movieImage">
		头像:
		<form id="ImgUpload" action="ImgActorUpload" method="post" enctype="multipart/form-data" onsubmit="return addImage();">
			<input type="file" id="file" name="file" style="display:none;" onchange="filechange(event)">
			<img src="" width="200px" height="200px" id="img-change">
		</form>
		</div>
		<script type="text/javascript">
			$("#img-change").click(function () {
			    $("#file").click();
			})
			
			var filechange=function(event){
			    var files = event.target.files, file;
			    if (files && files.length > 0) {
			        // 获取目前上传的文件
			        file = files[0];// 文件大小校验的动作
			        if(file.size > 1024 * 1024 * 4) {
			            alert('图片大小不能超过 4MB!');
			            return false;
			        }
			        // 获取 window 的 URL 工具
			        var URL = window.URL || window.webkitURL;
			        // 通过 file 生成目标 url
			        var imgURL = URL.createObjectURL(file);
			        //用attr将img的src属性改成获得的url
			        $("#img-change").attr("src",imgURL);
			    }
			};
			
		</script>
        <div id="dlg-buttons">
			<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="alterActor()">修改</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#win').window('close')">返回</a>
		</div>
	</div>
	<input type="hidden" th:value="${total}" id="total">
	<input type="hidden" id="num" value="1">
		<div class="cBody">
			<div class="console">
				<div class="layui-input-inline">
					<input type="text" name="name" lay-verify="required" id="aname" placeholder="请输入人员名称" autocomplete="off" class="layui-input">
				</div> 
				类型:
				<select id="flag" class="easyui-combobox" name="dept" style="width:200px;">
				    <option value="0">所有</option>
				    <option value="1">演员</option>
				    <option value="2">导演</option>
				</select>
				<button class="layui-btn" onclick="search()">查询</button>
			<table class="layui-table">
				<thead>
					<tr>
						<th>名称</th>
						<th>性别</th>
						<th>生日</th>
						<th>国家</th>
						<th>民族</th>
						<th>类型</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="tbody">
					<tr th:each="a:${ActorList}" >
						<td th:text="${a.aname}"></td>
						<td th:text="${a.sex}"></td>
						<td th:text="${#dates.format(a.birthday, 'yyyy-MM-dd')}"></td>
						<td th:text="${a.country}"></td>
						<td th:text="${a.nation}"></td>
						<td th:text="${a.position}"></td>
						<td>
							<button class="layui-btn" th:onclick="'javascript:details('+${a.actorId}+')' ">详细信息</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	<!-- 分页模块 -->		
	<!-- 分页样式 -->
	<script type="text/javascript" src="js/zxf_page.js"></script>
	<div class="zxf_pagediv"></div>
	<script type="text/javascript">
	//翻页
	var total = $("#total").val();
	var num = $("#num").val();
	$(".zxf_pagediv").createPage({
		pageNum: total,
		current: Number(num),
		backfun: function(e) {
			$.get("getAllActorByPage",{
				current:e.current,
				name:$("#aname").val(),
				flag:$("#flag").val()
			},function(data){
				$("#tbody").empty();
				$.each(data,function(k,v){
					$("#tbody").append(
							 '	<tr>' +
							 '		<td>'+v.aname+'</td>' +
							 '		<td>'+v.sex+'</td>' +
							 '		<td>'+v.birthday+'</td>' +
							 '		<td>'+v.country+'</td>' +
							 '		<td>'+v.nation+'</td>' +
							 '		<td>'+v.position+'</td>' +
							 '		<td>' +
							 '			<button class="layui-btn" onclick="details('+v.actorId+')">详细信息</button>\n' +
							 '		</td>' +
							 '	</tr>'
					)
					
				}); 
			})
		}
	});
	</script>
	</div>
	</body>
</html>