<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>

    <link rel="icon" type="image/x-icon" href="img/title.ico"/>
    <link href="css/default.css" rel="stylesheet" type="text/css"/>
    <!--必要样式-->
    <link href="css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="css/demo.css" rel="stylesheet" type="text/css"/>
    <link href="css/loaders.css" rel="stylesheet" type="text/css"/>
    <link href="layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <link href="css/register.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class='login'>
    <div class='login_title'>
        <span>用户注册</span>
    </div>
    <div class='login_fields'>
        <div class='login_fields__user'>
            <div class='icon'>
                <img alt="" src='img/user_icon_copy.png'>
            </div>
            <form  method="post" id="form">

                <input name="login" placeholder='用户名' maxlength="16" type='text' autocomplete="off" value=""/>
                <div class='validation'>
                    <img alt="" src='img/tick.png'>
                </div>
                <div class='login_fields__password'>
                    <div class='icon'>
                        <img alt="" src='img/lock_icon_copy.png'>
                    </div>
                    <input name="pwd" placeholder='密码' maxlength="16" type='text' autocomplete="off" value="">
                    <div class='validation'>
                        <img alt="" src='img/tick.png'>
                    </div>
                </div>
                <div class='login_fields__password'>
                    <div class='icon'>
                        <img alt="" src='img/key.png'>
                    </div>
                    <input name="code" placeholder='邮箱' type='text' name="ValidateNum" autocomplete="off">

                </div>
                <div class='login_fields__submit' style="top: 12px">
                    <input type='button' value='注册'>
                </div>
            </form>
        </div>
        <div class='success'>
        </div>
        <div class='disclaimer'>
            <p>欢迎登陆用户注册系统</p>
        </div>
    </div>
    <div class='authent'>
        <div class="loader" style="height: 44px;width: 44px;margin-left: 28px;">
            <div class="loader-inner ball-clip-rotate-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <p>认证中...</p>
    </div>
    <div class="OverWindows"></div>

    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src='js/stopExecutionOnTimeout.js?t=1'></script>
    <script src="layui/layui.js" type="text/javascript"></script>
    <script src="js/Particleground.js" type="text/javascript"></script>
    <script src="js/Treatment.js" type="text/javascript"></script>
    <script src="js/jquery.mockjax.js" type="text/javascript"></script>
    <script src="js/register.js" type="text/javascript"></script>
</div>
</body>
</html>