*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
a:active, a:hover {
    outline-width: 0;
}
img {
    border-style: none;
}
body{
    font-family: Microsoft YaHei,Helvetica,Arial,sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
}
input{
    outline:none;
}
input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}